.pagination{
    text-align: center;
    padding-top: 40px;
    border-top: 1px solid $lines-gray;
}
.pagination_link{
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
    [class*="icon-"]{
        color: $medium-blue;
    }
    &:hover{
        [class*="icon-"]{
            color: $dark-gray;
        }
    }
    &.is-disabled{
        color: $medium-gray;
        [class*="icon-"]{
            color: $medium-gray;
        }
    }
    &.is-current{
        color: $medium-black;
    }

}

.pagination__text{
    display: none;
    @include respond-to(small) {
        display: inline-block;
    }
}
