
//////////////////////////
// Colour palette
//////////////////////////

$coral-red: #Fe583b;
$medium-coral-red: #dd3600;
$dark-coral-red: #c73100;

$medium-blue: #008cd3;
$medium-black: #222222;
$medium-green: #7ED321;

$lightest-gray: #fafafa;
$lighter-gray: #f4f4f4;
$light-gray: #eaeaea;
$medium-gray: #bdbec4;
$dark-gray: #7b7d8c;

$input-box-gray: #dddde1;
$lines-gray: #dbdce1;

$user-yellow: #ffaf40;
$user-orange: #fe5838;
$user-red: #f03542;
$user-pink: #ff549c;
$user-purple: #a07ba8;
$user-blue: #3ca4f0;
$user-green: #00be90;

$noti-success: #76b969;
$noti-error: #d03e3e;


$facebook: #5072af;
$twitter: #4eb6e8;
$android: #a3c439;
